.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;

    & .modal {
            transform: translate(-50% -50%) scale(1.2);
        }
}



.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 528px;
    width: 100%;
    height: 580px;
    background-color: var(--main-white);
    transition: transfom 500ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 41px;

    &__title {
            font-size: 20px;
            line-height: 1.15;
            margin: 0 10px 12px 10px;
    
            text-align: center;
    }
    
    &__form {
        max-width: 448px;
    }

    &__label {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        margin-bottom: 10px;

        &:nth-child(4) {
                margin-bottom: 20px;
        }
    }

    &__input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: inherit;
    outline: none;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within+.icon-color {
            color: var(--accent-color);
        }

        &:focus {
            border-color: var(--accent-color);
        }
    }

    &__textarea {
        display: block;
        height: 120px;
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 4px;
        color: inherit;
        padding: 12px 16px;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: var(--accent-color);
        }
    }
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    background-color: var(--main-white);
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: var(--logo-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    font-size: 14px;
}

.terms-link {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--hero-button-hover);
    }
}

.button__submit {
    display: block;
    min-width: 200px;
    margin: 0 auto;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked+.check-icon {
        background-color: var(--accent-color);
        border-color: transparent;

    }
}

.check-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid var(--title-color);
    margin-right: 7px;
    color: var(--main-white);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}