.team {
    background-color: var(--team-bg);

    &__items {
        

        @include tablet-breakpoint {
            display: flex;
            flex-wrap: wrap;
            
        }

        @include desktop-breakpoint {
            display: flex;
            justify-content: space-between;
        }
    }
}

.team-card {
    text-align: center;
    display: block;
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
    
    
    
    @include mobile-breakpoint {
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__descr {
        line-height: 1.18;
        margin-bottom: 16px;
    }

    &__info {
        padding: 30px 32px;
    }

    @include tablet-breakpoint {
        width: calc(100%/2 - 30px/2);


        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 30px;
        }
    }

    @include desktop-breakpoint {
        width: calc(100%/4 - 30px/4*3);
    }
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 208px;
    margin: 0 auto;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: var(--links-color);
        background-color: var(--main-white);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--main-white);
        }
    }
}

